{% extends 'base.html' %} {% block content %}
<article>
  <h3>Czym jest terapia społeczna?</h3>
  <p>
    Trening umiejętności społecznych to jedna z metod leczenia wykorzystywana
    przy problemach z funkcjonowaniem psychiki pacjentów. Już sama nazwa powyżej
    wymienionej techniki terapeutycznej sugeruje to, na czym się ona skupia –
    trening umiejętności społecznych ma bowiem za zadanie poprawiać
    funkcjonowanie pacjentów wśród innych ludzi. Tego typu zajęcia odbywają się
    w kilkuosobowych zwykle grupach, gdzie uczestnicy treningu umiejętności
    społecznych – pod czujnym nadzorem terapeuty – mają przede wszystkim za
    zadanie obserwować zachowania innych, ale i zwracać również uwagę na to, jak
    sami zachowują się w stosunku do innych osób.
  </p>
  <p>
    Obserwować zachowania innych ludzi jest stosunkowo łatwo, zdecydowanie
    trudniej jest już analizować to, jak sami się zachowujemy. To właśnie z tego
    powodu sesje treningu umiejętności społecznych bywają rejestrowane, co ma na
    celu późniejsze odtworzenie materiału i zaprezentowanie przez to uczestnikom
    tego, jak zachowują się oni w relacjach międzyludzkich.
  </p>
  <h3>Jak przebiega trenning społeczny?</h3>
  <p>
    Aby móc w ogóle wysuwać jakieś wnioski co do zachowań i kontaktów
    międzyludzkich, uczestnicy treningu muszą wchodzić w takowe interakcje
    pomiędzy sobą. Podczas terapii inicjowane są m.in. różne scenki, gdzie jedni
    uczestnicy treningu odgrywają jakieś role, przydzielone im przez terapeutę,
    a później cała grupa analizuje zaprezentowane przez odgrywających
    zachowania. Uwaga uczestników treningu kierowana jest m.in. ku stylom
    komunikacji, którymi się oni posługują – terapeuta wskazuje, które
    wypowiedzi mają charakter asertywny, które pasywny, a które ocierają się o
    styl agresywny. Terapeuta, ale i również uczestnicy treningu zwracają danemu
    członkowi grupy uwagę na to, jakie to prezentuje on zachowania. Jednym z
    celów treningu umiejętności społecznych jest zamiana niekorzystnych
    zachowań, przedstawianych przez pacjenta na takie, które są bardziej
    akceptowalne w społeczeństwie.
  </p>
  <p>
    Trening umiejętności społecznych odbywa się jednak nie tylko poprzez zajęcia
    grupowe – istotne jest to, aby nabywane umiejętności pacjenci stopniowo
    wdrażali w życie toczące się poza gabinetem terapeutycznym. Tutaj pojawia
    się bardzo ważny aspekt związany z opisywaną metodą terapeutyczną – różne
    zachowania pacjentów modyfikowane są stopniowo, jedne po drugich, nigdy
    wszystkie naraz. Istotne bowiem jest to, aby trening rzeczywiście
    doprowadzał do poprawy funkcjonowania pacjentów w relacjach międzyludzkich –
    stopniowe wprowadzanie zmian zwiększa szanse na to, że pacjent rzeczywiście
    zmieni swoje zachowania (gdyby w jednym czasie próbowano zmodyfikować wiele
    różnych zachowań uczestnika, szanse na osiągnięcie sukcesu byłyby
    zdecydowanie zmniejszone).
  </p>
  <h3>STRUKTURA ZAJĘĆ TERAPEUTYCZNYCH</h3>
  <p>
    Zajęcia terapeutyczne powinny mieć jasną, określoną i stałą strukturę.
    Ułatwia to osobom z zespołem Aspergera zrozumienie oczekiwań terapeuty,
    pozwala na zrelaksowanie się i spokojne uczestniczenie w zajęciach. Pierwsze
    spotkanie jest poświęcone zasadom uczestnictwa. Pomiędzy uczestnikami a
    trenerem zawierany jest kontrakt określający jego reguły. Dobrą praktyką
    jest prowadzenie zajęć grupowych jednocześnie przez dwóch terapeutów.
    Umożliwia to śledzenie pracy grupy, radzenie sobie z zachowaniami
    niepożądanymi i zapewnia bezpieczeństwo wszystkich członków procesu
    terapeutycznego.
  </p>
  <p>
    Inną formę Treningu Umiejętności Społecznych stanowią zajęcia indywidualne.
    Niektóre osoby potrzebują takiego podejścia, by następnie przejść do
    aktywnego uczestnictwa w grupie. Uczestnik może być wówczas wdrażany do
    załatwiania spraw w urzędach, rozumienia pism i wniosków, zasad konwersacji
    w miejscu pracy, zachowania podczas przerw, wyjazdów integracyjnych,
    spotkania w restauracji, radzenia sobie z zagubieniem bagażu itd. Wszystkie
    te sytuacje wymagają adekwatnego zachowania się, radzenia sobie z różnymi
    wydarzeniami oraz wywołanymi przez nie emocjami.
  </p>
  <h3>Cele</h3>
  <p>
    Celem terapii jest modyfikacja zachowań na bardziej aprobowane społecznie.
    Zajęcia mają na celu poprawę funkcjonowania w sytuacjach społecznych przez
    zmianę zachowań nieakceptowanych na pożądane i społecznie akceptowane.
    Powyższe cele osiągane są przez:
  </p>
  <p>
     <ul>
        <li>uczenie rozpoznawania emocji i potrzeb,</li>
        <li>trening umiejętności komunikacyjnych,</li>
        <li>zmianę zachowań na bardziej efektywne społecznie,</li>
        <li>rozwijanie umiejętności współpracy w grupie,</li>
        <li>poznanie metod radzenia sobie z emocjami,</li>
        <li>pracę nad przestrzeganiem zasad,</li>
        <li>uczenie odreagowania napięć emocjonalnych,</li>
        <li>kształtowanie umiejętności rozwiązywania konfliktów.</li>
     </ul>
  </p>
  <p>
     Osoby nabywają nowe umiejętności społeczne i komunikacyjne przez integrację grupy oraz oswojenie się z nowymi osobami, konieczność wchodzenia we wzajemne interakcje, podawanie precyzyjnych instrukcji i modelowanie zachowań, doświadczanie nowej jakości przeżyć związanych z nabywaniem nowych kompetencji, możliwość uzyskania informacji zwrotnej w różnej formie, jako informacje od trenera, ale też od innych uczestników treningu, przeniesienie – generalizację ćwiczonych umiejętności przez wykonywane zadania domowe.
  </p>
</article>

{% endblock %}
