{% extends 'base.html' %} {% block content %}
<article id="main">
  <div class="query">
    <h3>Dlaczego monitorujemy nastrój i zachowanie?</h3>
    <p>
      Nastrój i zachowanie monitorujemy po to, aby lepiej zrozumieć, jak różne
      aspekty naszego życia przyczyniają się do depresji. Poszukujemy też
      wskazówek jakie zmiany warto wprowadzić, by nasze samopoczucie się
      poprawiło. Prowadzenie samoobserwacji jest ważne, ponieważ:
    </p>
    <ul>
      <li>
        wiele naszych reakcji emocjonalnych i behawioralnych jest tak
        automatycznych, że zapominamy o nich szybko, jeśli ich nie zapiszemy;
      </li>
      <li>
        zapisywanie szczegółów i spojrzenie na nie z perspektywy jest dobrym
        sposobem na zauważenie naszych wzorców zachowań <br />i reakcji, których
        w inny sposób byśmy nie zauważyli;
      </li>
      <li>
        rozpoznanie naszych wzorców zachowań i nastroju pomaga nam znaleźć
        odpowiedź na pytanie, co możemy zmienić (łańcuch behawioralny).
      </li>
    </ul>
    <p>
      Na początek pomocne będzie obserwowanie swojego zachowania, doświadczania
      emocji i zmieniającego się nastroju godzina po godzinie
    </p>
  </div>
  <div class="query">
    <h3>
      Cały czas czuję się zdołowany- czy zapisywanie tego nie sprawi, że będę
      czuć się jeszcze gorzej?
    </h3>
    <p>
      Tak, rzeczywiście przyglądanie się temu, co dzieje się w naszym życiu może
      sprawić, że w krótszej perspektywie poczujemy się jeszcze gorzej.
      Jakkolwiek, jest to niezbędny krok, by wprowadzić niezbędne zmiany.
      Spróbuj wykonać to zadanie z największą życzliwością i wyrozumiałością
      wobec samego siebie, na jaką cię stać.
    </p>
  </div class="query">
  <div class="query">
    <h3>Nie robię zbyt wiele, nie będę miał co zapisać.</h3>
    <p>
      Zawsze coś robimy. Nawet tzw. nic nierobienie jest tak naprawdę robieniem
      czegoś, jeśli bliżej się temu przyjrzymy. Jeśli np. spędzasz godzinę po
      prostu siedząc zatopiony w myślach, zapisz to. Jeśli leżysz w łóżku-
      zapisz to, itd.
    </p>
  </div class="query">
  <div class="query">
    <h3>
      Są rzeczy, które robię, których nie chcę zapisywać, bo nie chcę, aby ktoś
      się o nich dowiedział
    </h3>
    <p>
      Możesz zapisać tyle rzeczy ile chcesz ujawnić. Możesz także użyć skrótu
      lub szyfru na oznaczenie pewnych czynności.
    </p>
  </div class="query">
  <div>
    <h3>
      Zapisywanie jest męczącym wysiłkiem, a ja nie wierzę, że to może mi pomóc.
    </h3>
    <p>
      To podejście pomogło już bardzo wielu osobom wyjść z depresji. Tak, to
      prawda, że potrzebujesz włożyć w to swój czas, wysiłek i determinację.
    </p>
  </div>
</article>
{% endblock %}
